body {
  color: #333;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}

header {
  border: solid black 2px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  border: solid 2px red;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
div.posts {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 30px;
}

div.posts div.text h2 {
  margin: 0;
  border: solid 2px red;
  font-size: 1.8rem;
}
div.posts p.info {
  margin: 6px 0px;
  color: #888;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.posts p.info a.author {
  color: #888;
  border: red 2px solid;
}
div.posts p.summary {
  margin: 10px 0;
  line-height: 1.3rem;
  /* toi can cho cac hang co khoang cach 1.3rem cho to */
}
